#login {
  padding-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  :global {

    .login-page-title {
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 30px;

      img {
        height: 70px;
        margin-right: 20px;
      }
    }

    .input-line {
      width: 50%;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      .input-label {
        font-size: 17px;
        width: 90px;
        font-weight: bold;
        flex-shrink: 0;
      }
    }

    .ant-btn{
      margin-top: 50px;
      width: 45%;
    }

  }

}